{
  "password": "your-kakao-password",
  "accounts": [
    {"id": "dtslib1k", "email": "dtslib1k@kakao.com", "blog": "dtslib1k"},
    {"id": "hitop", "email": "dtslib1k@kakao.com", "blog": "hitop"},
    {"id": "midmath", "email": "dtslib1k@kakao.com", "blog": "midmath"},
    {"id": "midsocial", "email": "dtslib1k@kakao.com", "blog": "midsocial"},
    {"id": "lafilosofia", "email": "dtslib1k@kakao.com", "blog": "lafilosofia"},
    {"id": "korean-parksy", "email": "dtslib2k@kakao.com", "blog": "korean-parksy"},
    {"id": "kr-merit-bluff", "email": "dtslib2k@kakao.com", "blog": "kr-merit-bluff"},
    {"id": "kr-merit-halfblood", "email": "dtslib2k@kakao.com", "blog": "kr-merit-halfblood"},
    {"id": "kr-merit-aggro", "email": "dtslib2k@kakao.com", "blog": "kr-merit-aggro"},
    {"id": "kr-merit-shaman", "email": "dtslib2k@kakao.com", "blog": "kr-merit-shaman"}
  ]
}
