{
  "password": "your-kakao-password",
  "accounts": [
    {"id": "eae-kr", "email": "eae_kr@kakao.com", "blog": "eae-kr"},
    {"id": "eae-broadcast", "email": "eae_kr@kakao.com", "blog": "eae-broadcast"},
    {"id": "eae-music", "email": "eae_kr@kakao.com", "blog": "eae-music"},
    {"id": "eae-image", "email": "eae_kr@kakao.com", "blog": "eae-image"},
    {"id": "eae-video", "email": "eae_kr@kakao.com", "blog": "eae-video"},
    {"id": "polyglot14", "email": "dtslib@kakao.com", "blog": "polyglot14"},
    {"id": "dtslib", "email": "dtslib@kakao.com", "blog": "dtslib"},
    {"id": "webtoon-park", "email": "dtslib@kakao.com", "blog": "webtoon-park"},
    {"id": "programmer-park", "email": "dtslib@kakao.com", "blog": "programmer-park"},
    {"id": "musician-park", "email": "dtslib@kakao.com", "blog": "musician-park"},
    {"id": "dtslib1k", "email": "dtslib1k@kakao.com", "blog": "dtslib1k"},
    {"id": "hitop", "email": "dtslib1k@kakao.com", "blog": "hitop"},
    {"id": "midmath", "email": "dtslib1k@kakao.com", "blog": "midmath"},
    {"id": "midsocial", "email": "dtslib1k@kakao.com", "blog": "midsocial"},
    {"id": "lafilosofia", "email": "dtslib1k@kakao.com", "blog": "lafilosofia"},
    {"id": "korean-parksy", "email": "dtslib2k@kakao.com", "blog": "korean-parksy"},
    {"id": "kr-merit-bluff", "email": "dtslib2k@kakao.com", "blog": "kr-merit-bluff"},
    {"id": "kr-merit-halfblood", "email": "dtslib2k@kakao.com", "blog": "kr-merit-halfblood"},
    {"id": "kr-merit-aggro", "email": "dtslib2k@kakao.com", "blog": "kr-merit-aggro"},
    {"id": "kr-merit-shaman", "email": "dtslib2k@kakao.com", "blog": "kr-merit-shaman"}
  ]
}
